:root {
    --color-bg-dark: 21, 32, 43;
    --color-bg-dark-hover: 25, 39, 52;
    --color-light-grey: 136, 153, 166;
    --color-green: 23, 191, 99;
    --color-white: 255, 255, 255;
    --color-light-red: 224, 36, 94;
    --border-blue: 56, 68, 77;
}

html,
body {
    background-color: rgb(var(--color-bg-dark));
}

::-webkit-input-placeholder {
    color: #9197a3 !important;
}
::-moz-placeholder {
    color: #9197a3 !important;
}
:-ms-input-placeholder {
    color: #9197a3 !important;
}
:-moz-placeholder {
    color: #9197a3 !important;
}

/* NAVBAR */
nav.nav {
    background-color: rgb(25, 39, 52);
    margin-bottom: 20px;
}
nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}
nav ul svg.MuiSvgIcon-root {
    fill: white;
    width: 30px;
    height: 30px;
}

nav ul .MuiIconButton-colorPrimary:hover {
    background-color: rgba(29, 161, 242, 0.1);
}

nav.nav-not-logged ul li {
    padding: 15px 0;
    margin: 0 20px;
}
nav.nav-not-logged ul a {
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(var(--color-white));
}

.upload-post .avatar,
.post-info .avatar {
    width: 60px;
    height: 60px;
}

.upload-post {
    padding: 20px 0;
}
.upload-post .text-field {
    padding: 20px 0;
    width: 100%;
}
.upload-post .text-field * {
    color: #bdc1c9;
}
.upload-post .text-field:hover > div::before,
.upload-post .text-field > div::before,
.upload-post .text-field > div::after {
    content: "";
    border-bottom: 0 !important;
}

.post-info:first-of-type {
    border-top: 1px solid rgb(var(--border-blue));
}
.post-info {
    padding: 10px 15px;
    border: 1px solid rgb(var(--border-blue));
    border-top: 0;
    transition-duration: 0.2s;
    cursor: pointer;
}
.post-info:hover {
    background-color: rgb(var(--color-bg-dark-hover));
}
.post-info * {
    color: rgb(var(--color-white));
    text-decoration: none;
}
.post-info .post-date {
    color: rgb(var(--color-light-grey));
}

.post-info .post-username {
    margin-right: 10px;
}

/* FORM */
.form-container {
    text-align: center;
}
.form-container h1,
.form-container .form-input-container * {
    color: rgb(var(--color-white));
}
.form-container form {
    max-width: 520px;
    width: 100%;
    margin: 20px auto;
}
.form-container .form-input-container {
    display: block;
    width: 100%;
    margin: 20px 0;
}
.form-container .form-input-container * {
    width: 100%;
}
.form-container .form-input-container label {
    text-align: left;
}
.form-container .form-input-container label.Mui-focused {
    color: rgb(var(--color-green));
}
.form-container .form-input-container .MuiInput-underline:after {
    border-color: rgb(var(--color-green));
}
.form-container .form-button,
.form-container .form-button.Mui-disabled {
    width: 100%;
    background-color: rgb(var(--color-green));
    color: rgb(var(--color-white));
}
.form-container .form-button.Mui-disabled {
    opacity: 0.5;
}
.form-container .form-error {
    margin-top: 20px;
    color: rgb(var(--color-light-red));
}
.form-container .form-link {
    color: rgb(var(--color-green));
}
